{% extends "layout.html" %}
{% block content %}

<div class="col-md-5 mx-auto fade-in">
  <div class="card p-4 shadow-lg border-0 rounded-4 bg-dark text-light">

    <h3 class="mb-4 fw-bold text-center">
      <i class="bi bi-person-plus"></i> Buat Akun Baru
    </h3>

    <form method="POST">

      <div class="mb-3">
        <label>Username</label>
        <input name="username" class="form-control bg-secondary text-light" required>
      </div>

      <div class="mb-3">
        <label>Password</label>
        <input name="password" type="password"
               class="form-control bg-secondary text-light" required>
      </div>

      <button class="btn btn-success w-100">Daftar</button>

      <p class="text-center mt-3">
        Sudah punya akun? <a href="{{ url_for('login') }}">Login</a>
      </p>

    </form>

  </div>
</div>

{% endblock %}
